<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Template</title>
    <style>
      .banner {
        width: 100%;
        height: 50%;
      }

      /* @media only screen and (max-width:768px){
        .one{
          display: block;
        }
        .two{
          display:none
        }
        .three{
          display: block;
        }
      } */
      @media only screen and (max-width: 576px) {
        .power {
          font-size: 13px;
        }

        .logo {
          width: 70px;
        }
      }
    </style>
  </head>

  <body>
    <div style="font-family: 'Source Sans Pro', sans-serif">
      <h3 class="one">Hey {{ name }}, Greetings from Software Incubator!</h3>
      <!-- <img src="https://res.cloudinary.com/educool/image/upload/v1662640258/bannerpng_t9v5af.png" title='' class="banner"
      style="width: 100%;
    height: 50%;" /> -->
      <!-- <h3 class="two">
          Hey there, 
          Greetings from Software Incubator!
      </h3> -->

      <!-- <img src="https://i.ibb.co/3yNJ5Pc/banner.png" alt="banner" class="banner"/> -->
      <!-- <img src="https://i.ibb.co/RbJGXLY/Poster.png" alt="Poster" class="poster"/> -->

      <h2 class="three">
        We are delighted to inform you that you have been shortlisted for the
        Personal Interview round of SDC-SI's Recruitment Drive in the designer
        domain.
      </h2>
      <p>
        The schedule and further details about the PI will be provided via a
        WhatsApp group.<br /><br />
        Kindly join the WhatsApp group through the following link:
        <a href="https://chat.whatsapp.com/KgrcRiedfyT6YE2LK53vFj">CLICK HERE</a
        ><br /><br />
        We hope to see you at the PI round.<br /><br />
        <!-- Happy coding <b>&lt;/&gt;</b> <br /><br /> -->

        In case of query, contact: <br />
        Mohit Singh - <a href="tel:9120615633">9120615633</a> <br />
        Kunal Mehrotra - <a href="tel:9119082208">9119082208</a> <br /><br />

        Regards!<br />
        Software Incubator
      </p>
    </div>
    <div class="center" style="text-align: center">
      <div>
        <img
          style="width: 120px"
          src="https://i.ibb.co/3MCF4Gv/software-incubator-sdc-si-si.png"
        />
      </div>
      <div
        style="
          font-family: 'Open Sans', sans-serif;
          letter-spacing: 1px;
          font-weight: 600;
          font-size: 18px;
        "
      >
        <span class="SI"
          ><a href="http://silive.in" target="none">Software Incubator</a></span
        >
      </div>
      <div
        style="
          color: black;
          font-family: 'Open Sans', sans-serif;
          font-weight: 700;
          margin-top: 10px;
          letter-spacing: 3px;
          font-size: 15px;
        "
      >
        Love.Peace.Code
      </div>
    </div>
  </body>
</html>
